@font-face {
    font-family: "Maplestory Light";
    src: local("Maplestory Light"),
    url('~assets/fonts/Maplestory Light.ttf') format("truetype");
}

@font-face {
    font-family: "Maplestory Bold";
    src: local("Maplestory Bold"),
    url('~assets/fonts/Maplestory Bold.ttf') format("truetype");
}